/* --- NAVBAR (LA CABECERA) --- */
.navbar-bunker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  background-color: rgba(0, 20, 0, 0.9); /* Un poco transparente */
  border-bottom: 2px solid var(--z0-green);
  box-shadow: 0 0 15px rgba(0, 255, 65, 0.2); /* Resplandor verde */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-bunker h1 {
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0 0 5px var(--z0-green); /* Efecto neón */
  cursor: default;
}

/* --- ENLACES DE NAVEGACIÓN --- */
.enlaces {
  display: flex;
  gap: 20px;
}

.enlaces a {
  text-decoration: none;
  color: var(--z0-green-dim);
  font-size: 1.1rem;
  padding: 8px 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Estado Hover (Ratón encima) */
.enlaces a:hover {
  color: var(--z0-green);
  text-shadow: 0 0 8px var(--z0-green);
  border-color: var(--z0-green-dim);
}

/* Estado Activo (Cuando estás en esa ruta) */
/* La clase 'activo' la pone Angular gracias a routerLinkActive="activo" */
.enlaces a.activo {
  background-color: var(--z0-green);
  /* background-color: red; */
  color: var(--z0-black); /* Invertimos colores */
  font-weight: bold;
  box-shadow: 0 0 10px var(--z0-green);
  border-color: var(--z0-green);
}

/* --- CONTENEDOR PRINCIPAL --- */
.pantalla-principal {
  max-width: 1200px;
  margin: 40px auto; /* Centrado horizontal */
  padding: 20px;
  min-height: 80vh;
  
  /* Un borde sutil para enmarcar el contenido */
  border-left: 1px dashed var(--z0-dark-gray);
  border-right: 1px dashed var(--z0-dark-gray);
  
  /* Animación suave al cambiar de página */
  animation: fadeIn 0.5s ease-in-out;
}

/* Animación de entrada */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .navbar-bunker {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }
  
  .enlaces {
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
}